
@{
    Layout = "_AdminOrdersLayout";
    ViewBag.Tittle = "Zamówienia w trakcie realizacji";
}

@if (ViewBag.Orders != null)
{
    foreach (var item in ViewBag.Orders)
    {
        <div class="card m-1 p-1">
            <div class="p-1" style="height:60px;width:100%; background-color:grey">
                <h4>
                    Zamówienie: @item.OrderName
                    Budowa: @item.BuildingName
                </h4>
            </div>
        </div>
    }
 }
