<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="~/lib/bootstrap/css/bootstrap.css"
          asp-href-exclude="~/lib/bootstrap/css/bootstrap-grid.css" />
    <link href="~/lib/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" style="margin:10px">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Order Manager</a>
            <a class="navbar-brand" asp-controller="AdminOrders" asp-action="NewOrders">Zamówienia</a>
            <a class="navbar-brand" asp-controller="User" asp-action="Index">Użytkownicy</a>
            <a class="navbar-brand" asp-controller="Buildings" asp-action="Index">Budowy</a>
        </nav>
        <div class="row" style="height:50px; background-color:darkorange">
            <h3 style="margin:10px">
                @ViewBag.Tittle
            </h3>
        </div>
        <div class="row">
            <div class="col">
                <div class="sidenav col-2">
                    <a asp-controller="AdminOrders" asp-action="NewOrders">Nowe</a>
                    <a asp-controller="AdminOrders" asp-action="OrdersInProgress">W trakcie realizacji</a>
                    <a asp-controller="AdminOrders" asp-action="EndedOrders">Zrealizowane</a>
                </div>
            </div>
        <div class="col-9">
         @RenderBody()
        </div>
        </div>
</body>
</html>
