@model ChangePasswordViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.Tittle = "Zamiana hasła użytkownika";
}

<body>
    <div asp-validation-summary="All" class="text-danger">
        <form asp-action="ChangePassword" asp-controller="User">
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label>Hasło</label>
                <input class="form-control" type="password" asp-for="Password" />
            </div>
            <div class="form-group">
                <label>Potwierdź hasło</label>
                <input class="form-control" type="password" asp-for="ConfirmPassword" />
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Zapisz" />
            </div>
        </form>
    </div>
</body>