@model IEnumerable<UserViewModel>
@{
    Layout = "_AdminLayout";
    ViewBag.Tittle = "Użytkownicy";
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="card m-1 p-1">
            <div class="p-1" style="height:60px;width:100%; background-color:grey">
                <h4>
                    Użytkownik: @item.FullName
                </h4>
            </div>
        </div>
    }
}