@model IEnumerable<UserViewModel>
@{
    Layout = "_AdminLayout";
    ViewBag.Tittle = "Użytkownicy";
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.Partial("UserFrame", item);
    }
}
<form asp-action="AddNewUser" asp-controller="User" method="post">
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Dodaj użytkownika" />
    </div>
</form>



